html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}
.top {
	display: flex;
	height: 15%;
	width: 100%;
	justify-content: space-around;
	margin-top: 3%;

}
.box {
	height: 100%;
	width: 30%;
	display: inline-block;

}
.Red {
	background: #d0041b;
}
.Blue {
	background: #4a90e2;
}
.Grey {
	background: grey;
}
.text {
	height: 30%;
	width: 100%;
	padding: 3%;
	word-wrap: break;
}
.middle {
	height: 30%;
	width: 97%%;
	background: #4a90e2;
	display: flex;
	margin-left: 2%;
	margin-right: 3%;
}
.middleRed {
	float: left;
	height: 100%;
	width: 30%;
	background: #d0041b;
}
.bottom {
	height: 15%;
	width: 97%;
	background: #4a90e2;
	margin-top: 3%;
	margin-left: 2%;
	margin-right: 3%;

}
.bottomRed {
	float: right;
	height: 100%;
	width: 30%;
	background: #d0041b;
}
.bottomGrey {
	float: both;
	margin: auto;
	width: 75%;
	height: 100%;
	background: #4a4a4a;
}